{% extends 'base.html' %}

{% block title %}{{room.name}} | Room{% endblock title %}



{% block main %}

<div class="container my-4">
   <h2>{{room.name}}</h2>
   <hr class="my-2">
   <div id="messages" class="messages" style="box-shadow: 0 0 1em 0.1em grey; border-radius: .25rem;">



   </div>

   <div class="form">
      <form id="sendform">{% csrf_token %}
         <div class="form-floating">
            <textarea id="message" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
               style="height: 100px"></textarea>
            <label for="floatingTextarea2">Add your message</label>
            <input type="hidden" id="username" value={{user.username}}>
            <input type="hidden" id="roomname" value={{room.name}}>
         </div>
         <div class="button my-3">
            <button id="submitbtn" type="button" class="btn btn-success">Send message</button>
         </div>
      </form>
   </div>
</div>

<script>
   $(document).ready(() => {
      setInterval(() => {

         $.ajax({
            type: 'GET',
            url: '/getMessages/{{room.name}}/',
         }).done((data) => {
            let messages = Array.from(data)
            let str = ''
            messages.forEach(message => {
               str += `
               <div class="card my-4" style="width: 100%;">
   <div class="card-body">
      <h5 class="card-title">${message['username']}</h5>
      <h6 class="card-subtitle mb-2 text-muted">${String(message['timestamp']).slice(0 , 10)}   ${String(message['timestamp']).slice(11 , 19)}</h6>
      <p class="card-text">${message['message']}</p>
   </div>
</div>
               `
               
               document.getElementById('messages').innerHTML = str
            });
         })
      }, 600);
   })
</script>

{% endblock main %}

{% block js %}
<script>
   $('#submitbtn').click(() => {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      $.ajax({
         type: 'POST',
         url: '/send/',
         headers : {
            'X-CSRFToken': csrftoken
         },
         data: {
            'username': document.getElementById('username').value,
            'roomname': document.getElementById('roomname').value,
            'message': $('#message').val()
         }
      }).done((data) => {
         // console.log(data);
      })

      $('#message').val('')
   })

</script>
{% endblock js %}